<div class="panel panel-primary">
  <div class="panel-heading" ng-click="collapse()">{{user.name}}</div>
  <div class="panel-body" ng-hide="collapsed">
    <address></address>
    <h4>Friends:</h4>
    <ul>
      <li ng-repeat='friend in user.friends'>
        {{friend}}
        <remove-friend method="removeFriend(friend)"></remove-friend>
      </li>
    </ul>

    <p ng-show="!!user.rank">Rank: {{user.rank}}</p>
    <button ng-click="knightMe(user)" ng-show="!user.rank" class="btn btn-success">knight me</button>
  </div>
</div>