<div class="panel panel-primary">
  <div class="panel-heading" ng-click="collapse()">{{user.name}}</div>

  <!--What we want to be able to do is set our user into different states, and we -->
  <!--want to reflect the state by changing the background color of the panel body for the user&#45;&#45; this div right here.-->
  <div class="panel-body" ng-hide="collapsed">
    <address></address>
    
    <h4>Friends:</h4>
    <ul>
      <li ng-repeat='friend in user.friends'>
        {{friend}}
        <remove-friend method="removeFriend(friend)"></remove-friend>
        
      </li>
    </ul>
    <div ng-show="!!user.rank">
      Rank: {{user.rank}}
    </div>
    <button ng-show="!user.rank" class="btn btn-success" ng-click="knightMe(user)">Knight Me</button>
    <button ng-click="nextState()">Next State</button>
  </div>
</div>